.editorjs {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;

}

.buttons > *:last-child {
    background: #ff0000;
}