.folders {
    width: 100%;
    display: flex;
    /* padding: 0rem 0.5rem; */
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    flex: 1 0 0;
    align-self: stretch;
    border-top: 2px #757575 solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

.folders>* {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    width: 100%;
}

.projects {
    width: 100%;
    margin: 0 15px;
}

.projects > button {
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    background: rgb(64, 64, 64);
    color: white;
}

.none {
    display: none;
}

#title {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.03rem;
    flex: 1 0 0;
}