:root {
  --scale-ellipse: 10rem;
  --menu-width: calc(92vw/100*10 + 100);
  --menu-height: 7.5rem;
  --color-main:  #050A24;
}

nav.menu {
  background: #ffffff;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: var(--menu-width);
  height: var(--menu-height);
  padding: 0.625rem 3.125rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 0.625rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}

nav.menu>.logo {
  z-index: 2;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--color-main);
}

nav.menu>.logo>p {
  color: var(--color-main);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav.menu>.logo>img {
  fill: var(--color-main);
  stop-color: var(--color-main);
  width: auto;
  height: 3rem;
}

nav.menu>.buttons-menu {
  display: flex;
  z-index: 1;
  padding: 1.25rem 0.9rem;
  align-items: center;
  align-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

nav.menu>.buttons-menu>ul {
  display: flex;
}

ul>li>a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav.menu>.buttons-menu>ul>li {
  display: flex;
  width: 6rem;
  height: 4rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

nav.menu>.buttons-menu>ul>li:last-child {
  display: flex;
  width: 9rem;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 0.5rem;
  background: #050A24;  
}

nav.menu>.buttons-menu>ul>li:last-child>a {
  color: rgb(255, 255, 255);
}

.ellipse {

  width: var(--scale-ellipse);
  height: var(--scale-ellipse);
  z-index: 0;

  border-radius: var(--scale-ellipse);
  background: #2d55fb;
  filter: blur(calc(var(--scale-ellipse) - 25px * 2));

  overflow: hidden;
}

#ellipse-1 {
  position: fixed;
  right: calc(100vw/100*7);
  top: calc(100vh/100*-13);
}

#ellipse-2 {
  position: fixed;
  top: calc(100vh/100*10);
  left: calc(100vw/100*-1.5);
}